@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* BODY STYLES */

li a {
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: none;
}

button {
  padding: 8px 16px;
  color: rgb(0, 0, 255);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
}

footer {
  padding: 10px;
  margin-top: 10px;
}

.app {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  margin-left: 10rem;
  margin-right: 10rem;
}

/* HEADER STYLES */

.navbar {
  background-color: rgb(160, 241, 241);
  border-radius: 25px;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar_menu {
  display: flex;
  gap: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.navbar_btns {
  list-style-type: none;
  padding: 8px 16px;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
}

.rg_logo {
  width: 12rem;
  height: auto;
}

.rg_logo:hover {
  cursor: pointer;
}

/* SEARCH STYLES */

.search {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_bar {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 17px;
  font-family: inherit;
  font-weight: 500;
  border-radius: 5px;
  flex-grow: 1;
  height: 2rem;
  width: 300px;
}

/* TRAVEL CONTENT FRONT PAGE */

.thumbnail_container {
  height: 25rem;
  width: 30rem;
  position: relative;
  overflow: hidden;
  border: #ddd;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
  flex-shrink: 0;
}

.thumbnail_container:hover {
  transform: scale(1.05);
}

.thumbnail_image {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.thumbnail_content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: white;
  border-radius: 0 0 5px 5px;
}

.travel_containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* FOOTER */

.social_icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 450px;
  margin-left: 450px;
}

.fb_image {
  height: 75px;
  border-radius: 90px;
}

.github_image {
  height: 75px;
}

.fb_image:hover,
.github_image:hover {
  transition: transform 0.3s;
  transform: scale(1.25);
}

.copyright_p {
  padding: 15px;
  margin-top: 10px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}

/* CUSTOM SCROLLBAR
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: darkcyan;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(26, 118, 118);
} */
